# Part III: Data repairing with imputation
## Exrcise 6: Do it from scratch at home and upload it on Moodle
Now you have new datasets ”Olympics.csv” and ”flicker.csv” available on Moodle. You have to define your own
strategy to clean these data and comment your notebook at each step.

In [1]:
# Load the datasets
import pandas as pd

flickers_df = pd.read_csv('data/flicker.csv')
olympics_df = pd.read_csv('data/olympics.csv')

# Inspect Flicker dataset
print("Flicker Dataset Info:")
flickers_df.info()

# Check for missing values in the Flicker dataset
print("\nMissing values in Flicker Dataset:")
print(flickers_df.isnull().sum())

# Inspect Olympics dataset
print("\nOlympics Dataset Info:")
olympics_df.info()

# Check for missing values in the Olympics dataset
print("\nMissing values in Olympics Dataset:")
print(olympics_df.isnull().sum())

Flicker Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

Missing values in Flicker Dataset:
Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

Olympics Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
 1   1       148 non-null    object
 2   2       148 non-null    object
 3   3       148 non-null    object
 4   4       148 non-null    object
 5   5       148 non-null    object
 6   6       148 non-null    object
 7   7       148 non-null    object
 8   8       148 non-null    object
 9   9       148 non-null    object
 10  10      148 non-null    object
 11  11      148 non-null    object
 12  12      148 non-null    object
 13  13      148 non-null    object
 14  14      148 non-null    object
 15  15      148 non-null    object
dtypes: object(16)
memory usage: 18.6+ KB

Missing values in Olympics Dataset:
0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [2]:
# Cleaning the Flicker Dataset
# Dropping irrelevant or empty columns
flickers_cleaned_df = flickers_df.drop(columns=['Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver'])

# Filling missing 'Edition Statement' with 'Unknown'
flickers_cleaned_df['Edition Statement'].fillna('Unknown', inplace=True)

# Cleaning the Olympics Dataset
# Renaming columns for clarity
olympics_df.columns = [
    'Country', 'Summer Games', 'Summer Gold', 'Summer Silver', 'Summer Bronze', 'Total Summer Medals', 
    'Winter Games', 'Winter Gold', 'Winter Silver', 'Winter Bronze', 'Total Winter Medals', 
    'Games Total', 'Gold Total', 'Silver Total', 'Bronze Total', 'Combined Total'
]

# Removing the first row (header descriptions)
olympics_cleaned_df = olympics_df.drop(index=0)

# Converting numeric columns to correct types
numeric_columns = [
    'Summer Games', 'Summer Gold', 'Summer Silver', 'Summer Bronze', 'Total Summer Medals', 
    'Winter Games', 'Winter Gold', 'Winter Silver', 'Winter Bronze', 'Total Winter Medals', 
    'Games Total', 'Gold Total', 'Silver Total', 'Bronze Total', 'Combined Total'
]

olympics_cleaned_df[numeric_columns] = olympics_cleaned_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Checking cleaned data
print("Flicker Dataset Info After Cleaning:")
flickers_cleaned_df.info()

print("\nOlympics Dataset Info After Cleaning:")
olympics_cleaned_df.info()

Flicker Dataset Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Edition Statement     8287 non-null   object
 2   Place of Publication  8287 non-null   object
 3   Date of Publication   8106 non-null   object
 4   Publisher             4092 non-null   object
 5   Title                 8287 non-null   object
 6   Author                6509 non-null   object
 7   Contributors          8287 non-null   object
 8   Issuance type         8287 non-null   object
 9   Flickr URL            8287 non-null   object
 10  Shelfmarks            8287 non-null   object
dtypes: int64(1), object(10)
memory usage: 712.3+ KB

Olympics Dataset Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 1 to 147
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              147 non-null    object
 1   Summer Games         147 non-null    int64
 2   Summer Gold          147 non-null    int64
 3   Summer Silver        147 non-null    int64
 4   Summer Bronze        147 non-null    int64
 5   Total Summer Medals  147 non-null    int64
 6   Winter Games         147 non-null    int64
 7   Winter Gold          147 non-null    int64
 8   Winter Silver        147 non-null    int64
 9   Winter Bronze        147 non-null    int64
 10  Total Winter Medals  147 non-null    int64
 11  Games Total          147 non-null    int64
 12  Gold Total           147 non-null    int64
 13  Silver Total         147 non-null    int64
 14  Bronze Total         147 non-null    int64
 15  Combined Total       147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [3]:
# Handling missing data in Flicker Dataset
flickers_cleaned_df['Publisher'].fillna('Unknown Publisher', inplace=True)
flickers_cleaned_df['Author'].fillna('Unknown Author', inplace=True)
flickers_cleaned_df['Date of Publication'].fillna('Unknown Year', inplace=True)

# Olympics Dataset doesn't have missing values, so no action required.

# Checking final state after handling missing data
print("Final Flicker Dataset Info After Handling Missing Data:")
flickers_cleaned_df.info()

Final Flicker Dataset Info After Handling Missing Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Edition Statement     8287 non-null   object
 2   Place of Publication  8287 non-null   object
 3   Date of Publication   8287 non-null   object
 4   Publisher             8287 non-null   object
 5   Title                 8287 non-null   object
 6   Author                8287 non-null   object
 7   Contributors          8287 non-null   object
 8   Issuance type         8287 non-null   object
 9   Flickr URL            8287 non-null   object
 10  Shelfmarks            8287 non-null   object
dtypes: int64(1), object(10)
memory usage: 712.3+ KB

In [4]:
# Exercise 4: Normalizing and Formatting Data

# 1. For the Flicker Dataset
# Normalize 'Date of Publication' (extract year and clean inconsistent data)
# Example: Removing non-numeric characters and retaining the year only
flickers_cleaned_df['Date of Publication'] = flickers_cleaned_df['Date of Publication'].str.extract(r'(\d{4})')

# Strip any leading/trailing whitespaces in 'Author', 'Publisher', and 'Place of Publication'
flickers_cleaned_df['Author'] = flickers_cleaned_df['Author'].str.strip()
flickers_cleaned_df['Publisher'] = flickers_cleaned_df['Publisher'].str.strip()
flickers_cleaned_df['Place of Publication'] = flickers_cleaned_df['Place of Publication'].str.strip()

# 2. For the Olympics Dataset
# Standardizing country names if needed (strip leading/trailing spaces, handle inconsistencies)
olympics_cleaned_df['Country'] = olympics_cleaned_df['Country'].str.strip()

# Verifying the unique country names to detect inconsistencies
print("Unique Country Names in Olympics Dataset:")
print(olympics_cleaned_df['Country'].unique())

# Display the cleaned columns for checking
print("\nSample Flicker Dataset (After Normalization):")
print(flickers_cleaned_df[['Date of Publication', 'Author', 'Publisher', 'Place of Publication']].head())

print("\nSample Olympics Dataset (After Normalization):")
print(olympics_cleaned_df[['Country']].head())

Unique Country Names in Olympics Dataset:
['Afghanistan\xa0(AFG)' 'Algeria\xa0(ALG)' 'Argentina\xa0(ARG)'
 'Armenia\xa0(ARM)' 'Australasia\xa0(ANZ) [ANZ]'
 'Australia\xa0(AUS) [AUS] [Z]' 'Austria\xa0(AUT)' 'Azerbaijan\xa0(AZE)'
 'Bahamas\xa0(BAH)' 'Bahrain\xa0(BRN)' 'Barbados\xa0(BAR) [BAR]'
 'Belarus\xa0(BLR)' 'Belgium\xa0(BEL)' 'Bermuda\xa0(BER)'
 'Bohemia\xa0(BOH) [BOH] [Z]' 'Botswana\xa0(BOT)' 'Brazil\xa0(BRA)'
 'British West Indies\xa0(BWI) [BWI]' 'Bulgaria\xa0(BUL) [H]'
 'Burundi\xa0(BDI)' 'Cameroon\xa0(CMR)' 'Canada\xa0(CAN)'
 'Chile\xa0(CHI) [I]' 'China\xa0(CHN) [CHN]' 'Colombia\xa0(COL)'
 'Costa Rica\xa0(CRC)' 'Ivory Coast\xa0(CIV) [CIV]' 'Croatia\xa0(CRO)'
 'Cuba\xa0(CUB) [Z]' 'Cyprus\xa0(CYP)' 'Czech Republic\xa0(CZE) [CZE]'
 'Czechoslovakia\xa0(TCH) [TCH]' 'Denmark\xa0(DEN) [Z]'
 'Djibouti\xa0(DJI) [B]' 'Dominican Republic\xa0(DOM)' 'Ecuador\xa0(ECU)'
 'Egypt\xa0(EGY) [EGY] [Z]' 'Eritrea\xa0(ERI)' 'Estonia\xa0(EST)'
 'Ethiopia\xa0(ETH)' 'Finland\xa0(FIN)' 'France\xa0(FRA) [O] [P] [Z]'
 'Gabon\xa0(GAB)' 'Georgia\xa0(GEO)' 'Germany\xa0(GER) [GER] [Z]'
 'United Team of Germany\xa0(EUA) [EUA]' 'East Germany\xa0(GDR) [GDR]'
 'West Germany\xa0(FRG) [FRG]' 'Ghana\xa0(GHA) [GHA]'
 'Great Britain\xa0(GBR) [GBR] [Z]' 'Greece\xa0(GRE) [Z]'
 'Grenada\xa0(GRN)' 'Guatemala\xa0(GUA)' 'Guyana\xa0(GUY) [GUY]'
 'Haiti\xa0(HAI) [J]' 'Hong Kong\xa0(HKG) [HKG]' 'Hungary\xa0(HUN)'
 'Iceland\xa0(ISL)' 'India\xa0(IND) [F]' 'Indonesia\xa0(INA)'
 'Iran\xa0(IRI) [K]' 'Iraq\xa0(IRQ)' 'Ireland\xa0(IRL)' 'Israel\xa0(ISR)'
 'Italy\xa0(ITA) [M] [S]' 'Jamaica\xa0(JAM) [JAM]' 'Japan\xa0(JPN)'
 'Kazakhstan\xa0(KAZ)' 'Kenya\xa0(KEN)' 'North Korea\xa0(PRK)'
 'South Korea\xa0(KOR)' 'Kuwait\xa0(KUW)' 'Kyrgyzstan\xa0(KGZ)'
 'Latvia\xa0(LAT)' 'Lebanon\xa0(LIB)' 'Liechtenstein\xa0(LIE)'
 'Lithuania\xa0(LTU)' 'Luxembourg\xa0(LUX) [O]' 'Macedonia\xa0(MKD)'
 'Malaysia\xa0(MAS) [MAS]' 'Mauritius\xa0(MRI)' 'Mexico\xa0(MEX)'
 'Moldova\xa0(MDA)' 'Mongolia\xa0(MGL)' 'Montenegro\xa0(MNE)'
 'Morocco\xa0(MAR)' 'Mozambique\xa0(MOZ)' 'Namibia\xa0(NAM)'
 'Netherlands\xa0(NED) [Z]' 'Netherlands Antilles\xa0(AHO) [AHO] [I]'
 'New Zealand\xa0(NZL) [NZL]' 'Niger\xa0(NIG)' 'Nigeria\xa0(NGR)'
 'Norway\xa0(NOR) [Q]' 'Pakistan\xa0(PAK)' 'Panama\xa0(PAN)'
 'Paraguay\xa0(PAR)' 'Peru\xa0(PER) [L]' 'Philippines\xa0(PHI)'
 'Poland\xa0(POL)' 'Portugal\xa0(POR)' 'Puerto Rico\xa0(PUR)'
 'Qatar\xa0(QAT)' 'Romania\xa0(ROU)' 'Russia\xa0(RUS) [RUS]'
 'Russian Empire\xa0(RU1) [RU1]' 'Soviet Union\xa0(URS) [URS]'
 'Unified Team\xa0(EUN) [EUN]' 'Saudi Arabia\xa0(KSA)' 'Senegal\xa0(SEN)'
 'Serbia\xa0(SRB) [SRB]' 'Serbia and Montenegro\xa0(SCG) [SCG]'
 'Singapore\xa0(SIN)' 'Slovakia\xa0(SVK) [SVK]' 'Slovenia\xa0(SLO)'
 'South Africa\xa0(RSA)' 'Spain\xa0(ESP) [Z]' 'Sri Lanka\xa0(SRI) [SRI]'
 'Sudan\xa0(SUD)' 'Suriname\xa0(SUR) [E]' 'Sweden\xa0(SWE) [Z]'
 'Switzerland\xa0(SUI)' 'Syria\xa0(SYR)'
 'Chinese Taipei\xa0(TPE) [TPE] [TPE2]' 'Tajikistan\xa0(TJK)'
 'Tanzania\xa0(TAN) [TAN]' 'Thailand\xa0(THA)' 'Togo\xa0(TOG)'
 'Tonga\xa0(TGA)' 'Trinidad and Tobago\xa0(TRI) [TRI]' 'Tunisia\xa0(TUN)'
 'Turkey\xa0(TUR)' 'Uganda\xa0(UGA)' 'Ukraine\xa0(UKR)'
 'United Arab Emirates\xa0(UAE)' 'United States\xa0(USA) [P] [Q] [R] [Z]'
 'Uruguay\xa0(URU)' 'Uzbekistan\xa0(UZB)' 'Venezuela\xa0(VEN)'
 'Vietnam\xa0(VIE)' 'Virgin Islands\xa0(ISV)' 'Yugoslavia\xa0(YUG) [YUG]'
 'Independent Olympic Participants\xa0(IOP) [IOP]' 'Zambia\xa0(ZAM) [ZAM]'
 'Zimbabwe\xa0(ZIM) [ZIM]' 'Mixed team\xa0(ZZX) [ZZX]' 'Totals']

Sample Flicker Dataset (After Normalization):
  Date of Publication     Author              Publisher  \
0                1879      A. A.       S. Tinsley & Co.
1                1868  A., A. A.           Virtue & Co.
2                1869  A., A. A.  Bradbury, Evans & Co.
3                1851  A., E. S.          James Darling
4                1857  A., E. S.   Wertheim & Macintosh

       Place of Publication
0                    London
1  London; Virtue & Yorston
2                    London
3                    London
4                    London

Sample Olympics Dataset (After Normalization):
                   Country
1        Afghanistan (AFG)
2            Algeria (ALG)
3          Argentina (ARG)
4            Armenia (ARM)
5  Australasia (ANZ) [ANZ]

In [5]:
# Exercise 5: Validating the Cleaned Data

# 1. For the Flicker Dataset
# Check for any new missing values after normalization
print("Missing values in Flicker Dataset after cleaning:")
print(flickers_cleaned_df.isnull().sum())

# Ensure that the 'Date of Publication' column now contains only valid years or NaN
print("\nUnique values in 'Date of Publication' (should only be years or NaN):")
print(flickers_cleaned_df['Date of Publication'].unique())

# Check for duplicate entries based on key fields like 'Identifier'
print("\nChecking for duplicates in Flicker Dataset (based on Identifier):")
print(flickers_cleaned_df['Identifier'].duplicated().sum())

# 2. For the Olympics Dataset
# Check for any new missing values in the cleaned dataset
print("\nMissing values in Olympics Dataset after cleaning:")
print(olympics_cleaned_df.isnull().sum())

# Check that all numeric columns are correctly typed and contain no missing values
print("\nOlympics Dataset column types:")
print(olympics_cleaned_df.dtypes)

# Verifying logical consistency: e.g., 'Gold Total' + 'Silver Total' + 'Bronze Total' == 'Combined Total'
olympics_cleaned_df['Medal Total Check'] = (
    olympics_cleaned_df['Gold Total'] + olympics_cleaned_df['Silver Total'] + olympics_cleaned_df['Bronze Total']
)
print("\nChecking if 'Gold Total' + 'Silver Total' + 'Bronze Total' matches 'Combined Total':")
print((olympics_cleaned_df['Combined Total'] == olympics_cleaned_df['Medal Total Check']).all())

Missing values in Flicker Dataset after cleaning:
Identifier                0
Edition Statement         0
Place of Publication      0
Date of Publication     183
Publisher                 0
Title                     0
Author                    0
Contributors              0
Issuance type             0
Flickr URL                0
Shelfmarks                0
dtype: int64

Unique values in 'Date of Publication' (should only be years or NaN):
['1879' '1868' '1869' '1851' '1857' '1875' '1872' nan '1676' '1679' '1802'
 '1859' '1888' '1839' '1897' '1865' '1860' '1873' '1866' '1899' '1814'
 '1820' '1800' '1847' '1893' '1805' '1837' '1896' '1898' '1892' '1894'
 '1885' '1846' '1817' '1816' '1833' '1804' '1777' '1799' '1827' '1853'
 '1874' '1790' '1883' '1795' '1877' '1886' '1834' '1852' '1828' '1876'
 '1758' '1880' '1823' '1887' '1825' '1850' '1810' '1889' '1861' '1858'
 '1878' '1821' '1891' '1808' '1849' '1724' '1772' '1812' '1835' '1867'
 '1830' '1841' '1884' '1863' '1848' '1845' '1807' '1864' '1822' '1871'
 '1829' '1824' '1856' '1803' '1818' '1881' '1838' '1720' '1855' '1747'
 '1748' '1704' '1762' '1694' '1890' '1895' '1870' '1809' '1760' '1862'
 '1844' '1813' '1787' '1794' '1710' '1785' '1801' '1882' '1840' '1819'
 '1651' '1842' '1744' '1728' '1806' '1831' '1779' '1836' '1756' '1843'
 '1792' '1854' '1731' '1770' '1734' '1775' '1826' '1640' '1687' '1778'
 '1695' '1749' '1782' '1690' '1696' '1768' '1716' '1774' '1811' '1796'
 '1798' '1773' '1788' '1607' '1657' '1635' '1815' '1759' '1683' '1709'
 '1733' '1832' '1784' '1625' '1639' '1737' '1718' '1671' '1684' '1662'
 '1765' '1705' '1781' '1693' '1701' '1776' '1675' '1767' '1654' '1780'
 '1766' '1732' '1786' '1703' '1791' '1661' '1678' '1751' '1764' '1677'
 '1739' '1769' '1735' '1757' '1691' '1717' '1753' '1746' '1685' '1670'
 '1761' '1570' '1721' '1540' '1633' '1752' '1699' '1648' '1719' '1656'
 '1793' '1673' '1915' '1631' '1725' '1797' '1698' '1647' '1663' '1692'
 '1783' '1713' '1689' '1736' '1700' '1789' '1729' '1743' '1658' '1632'
 '1602' '1641' '1742' '1653' '1763' '1686' '1771' '1730' '1707' '1660'
 '1674' '1911' '1754' '1738' '1510' '1722' '1740' '1664' '1638' '1682'
 '1667' '1900' '1750' '1681' '1755' '1688' '1741' '1672' '1628' '1680'
 '1702' '1637' '1592' '1697' '1708']

Checking for duplicates in Flicker Dataset (based on Identifier):
0

Missing values in Olympics Dataset after cleaning:
Country                0
Summer Games           0
Summer Gold            0
Summer Silver          0
Summer Bronze          0
Total Summer Medals    0
Winter Games           0
Winter Gold            0
Winter Silver          0
Winter Bronze          0
Total Winter Medals    0
Games Total            0
Gold Total             0
Silver Total           0
Bronze Total           0
Combined Total         0
dtype: int64

Olympics Dataset column types:
Country                object
Summer Games            int64
Summer Gold             int64
Summer Silver           int64
Summer Bronze           int64
Total Summer Medals     int64
Winter Games            int64
Winter Gold             int64
Winter Silver           int64
Winter Bronze           int64
Total Winter Medals     int64
Games Total             int64
Gold Total              int64
Silver Total            int64
Bronze Total            int64
Combined Total          int64
dtype: object

Checking if 'Gold Total' + 'Silver Total' + 'Bronze Total' matches 'Combined Total':
True