# Part I: Data management with Pandas
Pandas is used to manipulate, clean, and query data by looking at the Pandass data tool kit. Pandass was created
by Wes McKinny in 2008 and is an open source project under a very permissive license.

## Exercise 1: Pandss Series data structure
If you are familiar with Pandas and Series manipulation, you can skip this one and go to the second exercise. To
start, you will create a new notebook using your local environment or colab environment. You have to name your
notebook with PW2-[firstName Lastname MajorName]. Now you can answer the following questions
1. import Pandas and create a list of sports containing this list [
′Football′
,
′ HandBall′
,
′ SnowSport′
] and
store it in a variable sports;

In [64]:
import pandas as pd

# Create a list of sports
sports = ['Football', 'HandBall', 'SnowSport']

2. cast your list as a series and display sports using the Class Pandass.Series (see documention on class Pandass.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False))

In [65]:
sports_series = pd.Series(sports)
print(sports_series)

0     Football
1     HandBall
2    SnowSport
dtype: object

3. what is the type of each element of your list?

In [66]:
for item in sports:
    print(type(item))

<class 'str'>
<class 'str'>
<class 'str'>

4. Create a new list named numeric containing a short list of numbers and display it as a series.

In [67]:
numeric = [5, 10, 15]
numeric_series = pd.Series(numeric)
print(numeric_series)

0     5
1    10
2    15
dtype: int64

5. add the value None to both animals and numeric and compare their corresponding display with Series.
What did you remark?

In [68]:
numeric_with_none = [None, 15, 100]
sports_with_none = ['BasketBall', 'HandBall', None]

numeric_series_with_none = pd.Series(numeric_with_none)
sports_series_with_none = pd.Series(sports_with_none)

print(numeric_series_with_none)
print(sports_series_with_none)

0      NaN
1     15.0
2    100.0
dtype: float64
0    BasketBall
1      HandBall
2          None
dtype: object

Observation:

When None is added to the numeric list, it is converted to NaN in the series.
In the sports list, None appears as an empty object in the series.

6. We shall correct the incomplete value None of sports by changing the None by NaN (Numpy.nan)

In [69]:
import numpy as np

sports_with_nan = ['BasketBall', 'HandBall', np.nan]
sports_series_with_nan = pd.Series(sports_with_nan)
print(sports_series_with_nan)

0    BasketBall
1      HandBall
2           NaN
dtype: object

7. Let construct our variable sports from a dictionary as follows: {'BasketBall', 'HandBall', 'Snowsport',
'baseBall', 'Swimming'}. Cast the variable to a serie and store it a new variable sIndex. Display sIndex
and call the function index on it. What did you remark?

In [70]:
sports_dict = {'BasketBall': 'HandBall', 'Snowsport': 'baseBall', 'Swimming': None}
sIndex = pd.Series(sports_dict)

print(sIndex)
print(sIndex.index)

BasketBall    HandBall
Snowsport     baseBall
Swimming          None
dtype: object
Index(['BasketBall', 'Snowsport', 'Swimming'], dtype='object')

## Exercise 2: Series Querying
Let we consider the variable sports from a dictionary.

In [71]:
import numpy as np
np.isnan(np.nan)
sports={'bask': 'BasketBall', 'hand': 'HandBall', 'snow': 'Snowsport', 'base': 'baseBall','swim': 'Swimming'}
#cast the list on a serie
sIndex=pd.Series(sports)
#display the serie
display(sIndex)

bask    BasketBall
hand      HandBall
snow     Snowsport
base      baseBall
swim      Swimming
dtype: object

1. print the second element of the variable sports and find the element who has ’swim’. (use iloc[] to index
location and loc[] to label location).

In [72]:
# Print second element using iloc (index-based)
print(sIndex.iloc[1])  # Second element based on position

# Find the element labeled 'swim' using loc (label-based)
print(sIndex.loc['swim'])  # Element with label 'swim'

HandBall
Swimming

2. Transform all items of your list sports in an uppercase characters (see Series.str.upper())

In [73]:
sIndex_upper = sIndex.str.upper()
print(sIndex_upper)

bask    BASKETBALL
hand      HANDBALL
snow     SNOWSPORT
base      BASEBALL
swim      SWIMMING
dtype: object

3. write a simple loop to transform sports in an uppercase Characters

In [74]:
sIndex_upper_loop = pd.Series([item.upper() if item else None for item in sIndex])
print(sIndex_upper_loop)

0    BASKETBALL
1      HANDBALL
2     SNOWSPORT
3      BASEBALL
4      SWIMMING
dtype: object

4. compare the runtime between both solutions and explain the runtime gap (see %timeit which is an IPython
magic function, which can be used to time a particular piece of code.)

In [75]:
# Using Series.str.upper() with vectorization
%timeit sIndex.str.upper()

# Using a loop
%timeit pd.Series([item.upper() if item else None for item in sIndex])

76.9 µs ± 1.15 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)
55 µs ± 1.11 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Explanation:

The Series.str.upper() function is vectorized and runs faster because Pandas internally optimizes operations on entire arrays.
The loop, though simple, operates element by element, making it slower.

5. compare the runtime between the function np.mean() and a loop to calculate the mean value of your numeric
variable

In [76]:
numeric = [None, 15, 100]
num = pd.Series(numeric)
%timeit np.mean(num)

33.9 µs ± 1.44 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [77]:
mean_value = 0
total = 0
count = 0
for item in num:
    if pd.notna(item):  # Skip NaN values
        total += item
        count += 1
mean_value = total / count if count != 0 else 0
print(mean_value)

%timeit

57.5

Explanation of Runtime Difference:

Vectorization (using np.mean()): This approach is faster since NumPy operations are highly optimized for performance and can handle entire arrays at once.
Loop: It involves explicit iteration over elements, which is slower, especially for large datasets, because each operation is executed individually rather than leveraging efficient underlying array operations.

# Part II: data Verification
## Exercise 3: From CSV to DataFrame
As a first step, we need python libraries allowing us to load our data as a dataframe. You have to download the
csv file named Custemers.csv. This file contains 15 columns separated with a ’,’ character.

1. Load the file Custemers.csv and store its content into a dataframe variable Custemers Data

In [78]:
import pandas as pd

# Load the file into a DataFrame (ensure the path to the file is correct)
Custemers_Data = pd.read_csv('data/Custemers.csv', delimiter=',')

2. Display the shape of your dataframe and display the header to understand the meaning of each column.

In [79]:
# Display the shape of the DataFrame (rows, columns)
print(Custemers_Data.shape)

# Display the first few rows of the DataFrame
print(Custemers_Data.head())

(10000, 15)
                                                name  \
0                                       Deonte Stark
1                                     Faustino Boyer
2  Eddy Bogisich,33431 Dollie Squares Apt. 654,Po...
3                                     Mervyn Kreiger
4  Katlyn Doyle,4650 Beer Crossing Suite 848,Nort...

                        address             city           state         zip  \
0            278 Mueller Plains       North Euna         Alabama  03404-4384
1  70244 Skiles Falls Suite 030  North Altohaven      California  01522-1310
2                           NaN              NaN             NaN         NaN
3            376 Dorinda Stream     Shaniquafort  South Carolina  39347-4438
4                           NaN              NaN             NaN         NaN

                 phone                          email           work  \
0   (180)940-9676x4495           shanna73@hotmail.com     Hahn-Mayer
1  (308)699-6239x81011            ferrell81@gmail.com  Buckridge Inc
2                  NaN                            NaN            NaN
3         869-985-6299  emmerich.griselda@hotmail.com    Witting PLC
4                  NaN                            NaN            NaN

                     work address       work city work state work zipcode  \
0  8177 Weber Throughway Apt. 341        Jaronton      Maine   51589-1424
1              236 Kessler Center  New Gavynshire   Missouri   52234-6972
2                             NaN             NaN        NaN          NaN
3               521 Kemmer Manors        Nerytown   Kentucky        68774
4                             NaN             NaN        NaN          NaN

          work phone                 work email   account created on
0        01240240340  heller.kirstin@glover.com  2001-09-06 06:15:24
1  (486)896-6855x446   esta.dicki@bechtelar.com           1983-04-25
2                NaN                        NaN                  NaN
3      (212)169-8190        greyson39@purdy.com  1971-04-27 14:05:06
4                NaN                        NaN                  NaN

3. Use the dataframe.columns to display the dictionary indexing your data

In [80]:
# Display column names
print(Custemers_Data.columns)

Index(['name', 'address', 'city', 'state', 'zip', 'phone', 'email', 'work',
       'work address', 'work city', 'work state', 'work zipcode', 'work phone',
       'work email', 'account created on'],
      dtype='object')

## Exercise 4: Catch missing values
Now we want to evaluate the number of missing data in the hole data. Display the total of missing values in each
column of custemers Data
1. You can use dataframe.isnull() and verctorization to sum missing values by each column

In [81]:
# Check for missing values in each column
missing_values = Custemers_Data.isnull().sum()
print(missing_values)

name                    81
address               3365
city                  3374
state                 3365
zip                   3362
phone                 3366
email                 3363
work                  3390
work address          3383
work city             3378
work state            3390
work zipcode          3378
work phone            3377
work email            3359
account created on    3368
dtype: int64

2. Display the rows with missing values in the ’name’ column, you should have 81 rows

In [82]:
# Display rows where 'name' column has missing values
missing_names = Custemers_Data[Custemers_Data['name'].isnull()]
print(missing_names)

# Check the number of rows with missing names
print(f"Number of rows with missing names: {missing_names.shape[0]}")

     name                          address              city           state  \
148   NaN     558 Brycen Mission Suite 152        Cristmouth        Arkansas
273   NaN       0481 Sanford Lake Apt. 439     Bashirianberg  North Carolina
300   NaN    38689 Kimora Groves Suite 807    New Nadiahaven         Vermont
330   NaN       077 Walsh Summit Suite 123        Rogahnfurt         Indiana
467   NaN              87140 Loma Crescent   North Dixieport        Michigan
...   ...                              ...               ...             ...
9316  NaN               054 Aubrie Corners    East Genevieve   New Hampshire
9487  NaN       9957 Rempel Wells Apt. 081         New Micky         Alabama
9745  NaN  6277 Schneider Common Suite 939         Port Aura    North Dakota
9816  NaN               986 Brianne Shoals  Port Wilbertstad     Mississippi
9834  NaN             19233 Kreiger Meadow        Kleinville        Michigan

             zip               phone                            email  \
148   52585-7480    +03(6)2449148729               corene08@gmail.com
273   61948-9865  (967)713-7747x7329  hermiston.jenniffer@hotmail.com
300   99133-2546  595.341.7775x50639               sfritsch@yahoo.com
330        81369    +38(1)3931574807             tdenesik@hotmail.com
467   32196-8397    +65(0)2946604451              lucille69@gmail.com
...          ...                 ...                              ...
9316       92371    296-242-9406x586         enrico.kuvalis@yahoo.com
9487       24013        522-665-0735              rylan47@hotmail.com
9745       10127        127.858.7550                 kacy29@gmail.com
9816       99396    953.475.7297x373         ritchie.hadley@yahoo.com
9834  42537-0382   (894)710-7706x071            hjalmer14@hotmail.com

                   work                  work address         work city  \
148           Braun PLC    8795 Carissa Land Apt. 884  South Arachester
273           Grant LLC                7375 Lynn Fork      Wuckerthaven
300       Purdy-Farrell              29365 Nyah Flats     West Isabella
330        Corwin-Fahey  717 Karol Stravenue Apt. 964      Trantowhaven
467         Monahan Ltd         99220 Murphy Motorway     East Reyhaven
...                 ...                           ...               ...
9316      Schneider LLC          53056 Gaige Motorway    North Audriana
9487  Bergnaum and Sons   60120 Klocko Alley Apt. 615       Adalineport
9745         Becker PLC           186 Armstrong Lakes      East Rosalyn
9816       Kautzer-Batz  22243 Feil Terrace Suite 469      New Catofurt
9834        Beer-Ledner            48801 Bobbye Roads        West Tylor

        work state work zipcode          work phone  \
148     New Mexico   68070-4086         09359769734
273           Ohio   89342-4989        419-132-5389
300        Florida        06342    +66(4)7117753075
330           Utah   49873-6641   882.577.0021x2495
467   Rhode Island        50641        773.245.8906
...            ...          ...                 ...
9316      Arkansas        73816        605.101.0879
9487      Maryland   37182-8209   289.393.5802x9949
9745          Ohio        07576  1-924-436-1559x850
9816     Wisconsin        62178         09723145605
9834      Arkansas        60338    849.567.9201x682

                              work email   account created on
148   hezzie.hettinger@mcglynnlarson.com           1999-12-12
273                 colin.walsh@hane.com  1995-08-07 19:52:30
300                     ocrooks@mohr.net           1975-04-07
330          mschaden@gerholdschultz.net           03/10/2010
467            parisian.willard@feil.org           04/29/1986
...                                  ...                  ...
9316         cephus.conroy@schroeder.com           01/21/2000
9487                    mwolf@corwin.net           2000-09-07
9745         kunde.carry@auerweimann.org  1995-08-13 11:03:45
9816           thompson.eulalie@mann.com  1970-01-27 16:26:56
9834            hsatterfield@bradtke.com  2015-10-13 23:24:40

[81 rows x 15 columns]
Number of rows with missing names: 81

3. Try removing rows with missing names. We call dropna() function which has many arguments to scale the
level of a filtered data:
• axis=0 or 1 allows to filter the missing values according to the row(axis=0) or the column(axis=1)
• how=all allows to eliminate all rows or all columns having mainly missing values
• inplace = True allow to need the same dataframe without creating a new output
• thresh= integer value allows to keep only rows (or columns) having a missing value rate more than
thresh.
test the function dropna() on your dataframe as:
• dropna(how=’all’, inplace=True) and check if missing values are removed!
• dropna(inplace=True, axis=0) and check if missing values are removed!
What did you conclude?

In [83]:
Custemers_Data.dropna(how='all', inplace=True)
# Check if any rows with all missing values were removed
print(Custemers_Data.isnull().sum())

name                    81
address               3365
city                  3374
state                 3365
zip                   3362
phone                 3366
email                 3363
work                  3390
work address          3383
work city             3378
work state            3390
work zipcode          3378
work phone            3377
work email            3359
account created on    3368
dtype: int64

In [84]:
Custemers_Data.dropna(inplace=True, axis=0)
# Check if rows with any missing values were removed
print(Custemers_Data.isnull().sum())

name                  0
address               0
city                  0
state                 0
zip                   0
phone                 0
email                 0
work                  0
work address          0
work city             0
work state            0
work zipcode          0
work phone            0
work email            0
account created on    0
dtype: int64

When you use dropna(how='all'), it will only remove rows that are entirely made up of NaN values. If a row has even one non-NaN value, it will not be removed.
When you use dropna(axis=0), it removes all rows that contain any missing value. If you had missing values scattered throughout the DataFrame, this would remove a significant number of rows.

## Exercise 5: Ensure that values have the right format/type
If we take the ”name” column, we find the first name and the last name separated with a blank character
1. check the type of each column using the function dtype()

In [85]:
# Check the data type of each column
print(Custemers_Data.dtypes)

name                  object
address               object
city                  object
state                 object
zip                   object
phone                 object
email                 object
work                  object
work address          object
work city             object
work state            object
work zipcode          object
work phone            object
work email            object
account created on    object
dtype: object

2. Let we split the column ’name’ into two columns where the first string is the first name and the second
string is the last name. (see str.split()).

In [86]:
# Split 'name' column into 'first_name' and 'last_name' columns
# Check for missing values in the 'name' column
names_split = Custemers_Data['name'].str.split(' ', n=1, expand=True)  # n=1 to limit to two parts
Custemers_Data['first_name'] = names_split[0]
Custemers_Data['last_name'] = names_split[1].fillna('')  # Fill NaN with empty string for last_name
print(Custemers_Data[['first_name', 'last_name']].head())

  first_name        last_name
0     Deonte            Stark
1   Faustino            Boyer
3     Mervyn          Kreiger
5     Daquan          Leffler
6             Jace Konopelski

3. You can remark incorrect lastname values. Remove rows having lastname length up to 16 characters.
Take 5 mn to outline the main ideas you’ve retained from these exercises (Part I and II)

In [87]:
# Remove rows where 'last_name' has more than 16 characters
Custemers_Data = Custemers_Data[Custemers_Data['last_name'].str.len() <= 16]
print(Custemers_Data.shape)

(5366, 17)

Here are the key ideas retained from these exercises:

Data Management with Pandas: You learned how to import and load data from a CSV file into a Pandas DataFrame, how to check the structure of the DataFrame (using functions like shape(), head(), columns), and how to query data effectively.
Handling Missing Data: You gained experience using Pandas functions like isnull(), dropna(), and filtering data based on missing values. We also explored different ways to handle missing data, like dropping rows or columns with missing values.
String Operations: You practiced string manipulations such as splitting strings within a column into multiple columns and cleaning up data by handling incorrect values (e.g., removing rows with long last_name values).
Vectorization vs Loops: You learned the benefits of vectorized operations, especially for performance, and how they compare to loops.
Data Integrity: Ensuring that the data types and formats of columns are correct is essential for any further analysis or preprocessing steps in the machine learning pipeline.

# Part III: Data repairing with imputation
## Exrcise 6: Do it from scratch at home and upload it on Moodle
Now you have new datasets ”Olympics.csv” and ”flicker.csv” available on Moodle. You have to define your own
strategy to clean these data and comment your notebook at each step.

In [88]:
# Load the datasets
import pandas as pd

flickers_df = pd.read_csv('data/flicker.csv')
olympics_df = pd.read_csv('data/olympics.csv')

# Inspect Flicker dataset
print("Flicker Dataset Info:")
flickers_df.info()

# Check for missing values in the Flicker dataset
print("\nMissing values in Flicker Dataset:")
print(flickers_df.isnull().sum())

# Inspect Olympics dataset
print("\nOlympics Dataset Info:")
olympics_df.info()

# Check for missing values in the Olympics dataset
print("\nMissing values in Olympics Dataset:")
print(olympics_df.isnull().sum())

Flicker Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

Missing values in Flicker Dataset:
Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

Olympics Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
 1   1       148 non-null    object
 2   2       148 non-null    object
 3   3       148 non-null    object
 4   4       148 non-null    object
 5   5       148 non-null    object
 6   6       148 non-null    object
 7   7       148 non-null    object
 8   8       148 non-null    object
 9   9       148 non-null    object
 10  10      148 non-null    object
 11  11      148 non-null    object
 12  12      148 non-null    object
 13  13      148 non-null    object
 14  14      148 non-null    object
 15  15      148 non-null    object
dtypes: object(16)
memory usage: 18.6+ KB

Missing values in Olympics Dataset:
0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [89]:
# Cleaning the Flicker Dataset
# Dropping irrelevant or empty columns
flickers_cleaned_df = flickers_df.drop(columns=['Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver'])

# Filling missing 'Edition Statement' with 'Unknown'
flickers_cleaned_df['Edition Statement'].fillna('Unknown', inplace=True)

# Cleaning the Olympics Dataset
# Renaming columns for clarity
olympics_df.columns = [
    'Country', 'Summer Games', 'Summer Gold', 'Summer Silver', 'Summer Bronze', 'Total Summer Medals', 
    'Winter Games', 'Winter Gold', 'Winter Silver', 'Winter Bronze', 'Total Winter Medals', 
    'Games Total', 'Gold Total', 'Silver Total', 'Bronze Total', 'Combined Total'
]

# Removing the first row (header descriptions)
olympics_cleaned_df = olympics_df.drop(index=0)

# Converting numeric columns to correct types
numeric_columns = [
    'Summer Games', 'Summer Gold', 'Summer Silver', 'Summer Bronze', 'Total Summer Medals', 
    'Winter Games', 'Winter Gold', 'Winter Silver', 'Winter Bronze', 'Total Winter Medals', 
    'Games Total', 'Gold Total', 'Silver Total', 'Bronze Total', 'Combined Total'
]

olympics_cleaned_df[numeric_columns] = olympics_cleaned_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Checking cleaned data
print("Flicker Dataset Info After Cleaning:")
flickers_cleaned_df.info()

print("\nOlympics Dataset Info After Cleaning:")
olympics_cleaned_df.info()

Flicker Dataset Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Edition Statement     8287 non-null   object
 2   Place of Publication  8287 non-null   object
 3   Date of Publication   8106 non-null   object
 4   Publisher             4092 non-null   object
 5   Title                 8287 non-null   object
 6   Author                6509 non-null   object
 7   Contributors          8287 non-null   object
 8   Issuance type         8287 non-null   object
 9   Flickr URL            8287 non-null   object
 10  Shelfmarks            8287 non-null   object
dtypes: int64(1), object(10)
memory usage: 712.3+ KB

Olympics Dataset Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 1 to 147
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              147 non-null    object
 1   Summer Games         147 non-null    int64
 2   Summer Gold          147 non-null    int64
 3   Summer Silver        147 non-null    int64
 4   Summer Bronze        147 non-null    int64
 5   Total Summer Medals  147 non-null    int64
 6   Winter Games         147 non-null    int64
 7   Winter Gold          147 non-null    int64
 8   Winter Silver        147 non-null    int64
 9   Winter Bronze        147 non-null    int64
 10  Total Winter Medals  147 non-null    int64
 11  Games Total          147 non-null    int64
 12  Gold Total           147 non-null    int64
 13  Silver Total         147 non-null    int64
 14  Bronze Total         147 non-null    int64
 15  Combined Total       147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [90]:
# Handling missing data in Flicker Dataset
flickers_cleaned_df['Publisher'].fillna('Unknown Publisher', inplace=True)
flickers_cleaned_df['Author'].fillna('Unknown Author', inplace=True)
flickers_cleaned_df['Date of Publication'].fillna('Unknown Year', inplace=True)

# Olympics Dataset doesn't have missing values, so no action required.

# Checking final state after handling missing data
print("Final Flicker Dataset Info After Handling Missing Data:")
flickers_cleaned_df.info()

Final Flicker Dataset Info After Handling Missing Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Edition Statement     8287 non-null   object
 2   Place of Publication  8287 non-null   object
 3   Date of Publication   8287 non-null   object
 4   Publisher             8287 non-null   object
 5   Title                 8287 non-null   object
 6   Author                8287 non-null   object
 7   Contributors          8287 non-null   object
 8   Issuance type         8287 non-null   object
 9   Flickr URL            8287 non-null   object
 10  Shelfmarks            8287 non-null   object
dtypes: int64(1), object(10)
memory usage: 712.3+ KB

In [91]:
# Exercise 4: Normalizing and Formatting Data

# 1. For the Flicker Dataset
# Normalize 'Date of Publication' (extract year and clean inconsistent data)
# Example: Removing non-numeric characters and retaining the year only
flickers_cleaned_df['Date of Publication'] = flickers_cleaned_df['Date of Publication'].str.extract(r'(\d{4})')

# Strip any leading/trailing whitespaces in 'Author', 'Publisher', and 'Place of Publication'
flickers_cleaned_df['Author'] = flickers_cleaned_df['Author'].str.strip()
flickers_cleaned_df['Publisher'] = flickers_cleaned_df['Publisher'].str.strip()
flickers_cleaned_df['Place of Publication'] = flickers_cleaned_df['Place of Publication'].str.strip()

# 2. For the Olympics Dataset
# Standardizing country names if needed (strip leading/trailing spaces, handle inconsistencies)
olympics_cleaned_df['Country'] = olympics_cleaned_df['Country'].str.strip()

# Verifying the unique country names to detect inconsistencies
print("Unique Country Names in Olympics Dataset:")
print(olympics_cleaned_df['Country'].unique())

# Display the cleaned columns for checking
print("\nSample Flicker Dataset (After Normalization):")
print(flickers_cleaned_df[['Date of Publication', 'Author', 'Publisher', 'Place of Publication']].head())

print("\nSample Olympics Dataset (After Normalization):")
print(olympics_cleaned_df[['Country']].head())

Unique Country Names in Olympics Dataset:
['Afghanistan\xa0(AFG)' 'Algeria\xa0(ALG)' 'Argentina\xa0(ARG)'
 'Armenia\xa0(ARM)' 'Australasia\xa0(ANZ) [ANZ]'
 'Australia\xa0(AUS) [AUS] [Z]' 'Austria\xa0(AUT)' 'Azerbaijan\xa0(AZE)'
 'Bahamas\xa0(BAH)' 'Bahrain\xa0(BRN)' 'Barbados\xa0(BAR) [BAR]'
 'Belarus\xa0(BLR)' 'Belgium\xa0(BEL)' 'Bermuda\xa0(BER)'
 'Bohemia\xa0(BOH) [BOH] [Z]' 'Botswana\xa0(BOT)' 'Brazil\xa0(BRA)'
 'British West Indies\xa0(BWI) [BWI]' 'Bulgaria\xa0(BUL) [H]'
 'Burundi\xa0(BDI)' 'Cameroon\xa0(CMR)' 'Canada\xa0(CAN)'
 'Chile\xa0(CHI) [I]' 'China\xa0(CHN) [CHN]' 'Colombia\xa0(COL)'
 'Costa Rica\xa0(CRC)' 'Ivory Coast\xa0(CIV) [CIV]' 'Croatia\xa0(CRO)'
 'Cuba\xa0(CUB) [Z]' 'Cyprus\xa0(CYP)' 'Czech Republic\xa0(CZE) [CZE]'
 'Czechoslovakia\xa0(TCH) [TCH]' 'Denmark\xa0(DEN) [Z]'
 'Djibouti\xa0(DJI) [B]' 'Dominican Republic\xa0(DOM)' 'Ecuador\xa0(ECU)'
 'Egypt\xa0(EGY) [EGY] [Z]' 'Eritrea\xa0(ERI)' 'Estonia\xa0(EST)'
 'Ethiopia\xa0(ETH)' 'Finland\xa0(FIN)' 'France\xa0(FRA) [O] [P] [Z]'
 'Gabon\xa0(GAB)' 'Georgia\xa0(GEO)' 'Germany\xa0(GER) [GER] [Z]'
 'United Team of Germany\xa0(EUA) [EUA]' 'East Germany\xa0(GDR) [GDR]'
 'West Germany\xa0(FRG) [FRG]' 'Ghana\xa0(GHA) [GHA]'
 'Great Britain\xa0(GBR) [GBR] [Z]' 'Greece\xa0(GRE) [Z]'
 'Grenada\xa0(GRN)' 'Guatemala\xa0(GUA)' 'Guyana\xa0(GUY) [GUY]'
 'Haiti\xa0(HAI) [J]' 'Hong Kong\xa0(HKG) [HKG]' 'Hungary\xa0(HUN)'
 'Iceland\xa0(ISL)' 'India\xa0(IND) [F]' 'Indonesia\xa0(INA)'
 'Iran\xa0(IRI) [K]' 'Iraq\xa0(IRQ)' 'Ireland\xa0(IRL)' 'Israel\xa0(ISR)'
 'Italy\xa0(ITA) [M] [S]' 'Jamaica\xa0(JAM) [JAM]' 'Japan\xa0(JPN)'
 'Kazakhstan\xa0(KAZ)' 'Kenya\xa0(KEN)' 'North Korea\xa0(PRK)'
 'South Korea\xa0(KOR)' 'Kuwait\xa0(KUW)' 'Kyrgyzstan\xa0(KGZ)'
 'Latvia\xa0(LAT)' 'Lebanon\xa0(LIB)' 'Liechtenstein\xa0(LIE)'
 'Lithuania\xa0(LTU)' 'Luxembourg\xa0(LUX) [O]' 'Macedonia\xa0(MKD)'
 'Malaysia\xa0(MAS) [MAS]' 'Mauritius\xa0(MRI)' 'Mexico\xa0(MEX)'
 'Moldova\xa0(MDA)' 'Mongolia\xa0(MGL)' 'Montenegro\xa0(MNE)'
 'Morocco\xa0(MAR)' 'Mozambique\xa0(MOZ)' 'Namibia\xa0(NAM)'
 'Netherlands\xa0(NED) [Z]' 'Netherlands Antilles\xa0(AHO) [AHO] [I]'
 'New Zealand\xa0(NZL) [NZL]' 'Niger\xa0(NIG)' 'Nigeria\xa0(NGR)'
 'Norway\xa0(NOR) [Q]' 'Pakistan\xa0(PAK)' 'Panama\xa0(PAN)'
 'Paraguay\xa0(PAR)' 'Peru\xa0(PER) [L]' 'Philippines\xa0(PHI)'
 'Poland\xa0(POL)' 'Portugal\xa0(POR)' 'Puerto Rico\xa0(PUR)'
 'Qatar\xa0(QAT)' 'Romania\xa0(ROU)' 'Russia\xa0(RUS) [RUS]'
 'Russian Empire\xa0(RU1) [RU1]' 'Soviet Union\xa0(URS) [URS]'
 'Unified Team\xa0(EUN) [EUN]' 'Saudi Arabia\xa0(KSA)' 'Senegal\xa0(SEN)'
 'Serbia\xa0(SRB) [SRB]' 'Serbia and Montenegro\xa0(SCG) [SCG]'
 'Singapore\xa0(SIN)' 'Slovakia\xa0(SVK) [SVK]' 'Slovenia\xa0(SLO)'
 'South Africa\xa0(RSA)' 'Spain\xa0(ESP) [Z]' 'Sri Lanka\xa0(SRI) [SRI]'
 'Sudan\xa0(SUD)' 'Suriname\xa0(SUR) [E]' 'Sweden\xa0(SWE) [Z]'
 'Switzerland\xa0(SUI)' 'Syria\xa0(SYR)'
 'Chinese Taipei\xa0(TPE) [TPE] [TPE2]' 'Tajikistan\xa0(TJK)'
 'Tanzania\xa0(TAN) [TAN]' 'Thailand\xa0(THA)' 'Togo\xa0(TOG)'
 'Tonga\xa0(TGA)' 'Trinidad and Tobago\xa0(TRI) [TRI]' 'Tunisia\xa0(TUN)'
 'Turkey\xa0(TUR)' 'Uganda\xa0(UGA)' 'Ukraine\xa0(UKR)'
 'United Arab Emirates\xa0(UAE)' 'United States\xa0(USA) [P] [Q] [R] [Z]'
 'Uruguay\xa0(URU)' 'Uzbekistan\xa0(UZB)' 'Venezuela\xa0(VEN)'
 'Vietnam\xa0(VIE)' 'Virgin Islands\xa0(ISV)' 'Yugoslavia\xa0(YUG) [YUG]'
 'Independent Olympic Participants\xa0(IOP) [IOP]' 'Zambia\xa0(ZAM) [ZAM]'
 'Zimbabwe\xa0(ZIM) [ZIM]' 'Mixed team\xa0(ZZX) [ZZX]' 'Totals']

Sample Flicker Dataset (After Normalization):
  Date of Publication     Author              Publisher  \
0                1879      A. A.       S. Tinsley & Co.
1                1868  A., A. A.           Virtue & Co.
2                1869  A., A. A.  Bradbury, Evans & Co.
3                1851  A., E. S.          James Darling
4                1857  A., E. S.   Wertheim & Macintosh

       Place of Publication
0                    London
1  London; Virtue & Yorston
2                    London
3                    London
4                    London

Sample Olympics Dataset (After Normalization):
                   Country
1        Afghanistan (AFG)
2            Algeria (ALG)
3          Argentina (ARG)
4            Armenia (ARM)
5  Australasia (ANZ) [ANZ]

In [92]:
# Exercise 5: Validating the Cleaned Data

# 1. For the Flicker Dataset
# Check for any new missing values after normalization
print("Missing values in Flicker Dataset after cleaning:")
print(flickers_cleaned_df.isnull().sum())

# Ensure that the 'Date of Publication' column now contains only valid years or NaN
print("\nUnique values in 'Date of Publication' (should only be years or NaN):")
print(flickers_cleaned_df['Date of Publication'].unique())

# Check for duplicate entries based on key fields like 'Identifier'
print("\nChecking for duplicates in Flicker Dataset (based on Identifier):")
print(flickers_cleaned_df['Identifier'].duplicated().sum())

# 2. For the Olympics Dataset
# Check for any new missing values in the cleaned dataset
print("\nMissing values in Olympics Dataset after cleaning:")
print(olympics_cleaned_df.isnull().sum())

# Check that all numeric columns are correctly typed and contain no missing values
print("\nOlympics Dataset column types:")
print(olympics_cleaned_df.dtypes)

# Verifying logical consistency: e.g., 'Gold Total' + 'Silver Total' + 'Bronze Total' == 'Combined Total'
olympics_cleaned_df['Medal Total Check'] = (
    olympics_cleaned_df['Gold Total'] + olympics_cleaned_df['Silver Total'] + olympics_cleaned_df['Bronze Total']
)
print("\nChecking if 'Gold Total' + 'Silver Total' + 'Bronze Total' matches 'Combined Total':")
print((olympics_cleaned_df['Combined Total'] == olympics_cleaned_df['Medal Total Check']).all())

Missing values in Flicker Dataset after cleaning:
Identifier                0
Edition Statement         0
Place of Publication      0
Date of Publication     183
Publisher                 0
Title                     0
Author                    0
Contributors              0
Issuance type             0
Flickr URL                0
Shelfmarks                0
dtype: int64

Unique values in 'Date of Publication' (should only be years or NaN):
['1879' '1868' '1869' '1851' '1857' '1875' '1872' nan '1676' '1679' '1802'
 '1859' '1888' '1839' '1897' '1865' '1860' '1873' '1866' '1899' '1814'
 '1820' '1800' '1847' '1893' '1805' '1837' '1896' '1898' '1892' '1894'
 '1885' '1846' '1817' '1816' '1833' '1804' '1777' '1799' '1827' '1853'
 '1874' '1790' '1883' '1795' '1877' '1886' '1834' '1852' '1828' '1876'
 '1758' '1880' '1823' '1887' '1825' '1850' '1810' '1889' '1861' '1858'
 '1878' '1821' '1891' '1808' '1849' '1724' '1772' '1812' '1835' '1867'
 '1830' '1841' '1884' '1863' '1848' '1845' '1807' '1864' '1822' '1871'
 '1829' '1824' '1856' '1803' '1818' '1881' '1838' '1720' '1855' '1747'
 '1748' '1704' '1762' '1694' '1890' '1895' '1870' '1809' '1760' '1862'
 '1844' '1813' '1787' '1794' '1710' '1785' '1801' '1882' '1840' '1819'
 '1651' '1842' '1744' '1728' '1806' '1831' '1779' '1836' '1756' '1843'
 '1792' '1854' '1731' '1770' '1734' '1775' '1826' '1640' '1687' '1778'
 '1695' '1749' '1782' '1690' '1696' '1768' '1716' '1774' '1811' '1796'
 '1798' '1773' '1788' '1607' '1657' '1635' '1815' '1759' '1683' '1709'
 '1733' '1832' '1784' '1625' '1639' '1737' '1718' '1671' '1684' '1662'
 '1765' '1705' '1781' '1693' '1701' '1776' '1675' '1767' '1654' '1780'
 '1766' '1732' '1786' '1703' '1791' '1661' '1678' '1751' '1764' '1677'
 '1739' '1769' '1735' '1757' '1691' '1717' '1753' '1746' '1685' '1670'
 '1761' '1570' '1721' '1540' '1633' '1752' '1699' '1648' '1719' '1656'
 '1793' '1673' '1915' '1631' '1725' '1797' '1698' '1647' '1663' '1692'
 '1783' '1713' '1689' '1736' '1700' '1789' '1729' '1743' '1658' '1632'
 '1602' '1641' '1742' '1653' '1763' '1686' '1771' '1730' '1707' '1660'
 '1674' '1911' '1754' '1738' '1510' '1722' '1740' '1664' '1638' '1682'
 '1667' '1900' '1750' '1681' '1755' '1688' '1741' '1672' '1628' '1680'
 '1702' '1637' '1592' '1697' '1708']

Checking for duplicates in Flicker Dataset (based on Identifier):
0

Missing values in Olympics Dataset after cleaning:
Country                0
Summer Games           0
Summer Gold            0
Summer Silver          0
Summer Bronze          0
Total Summer Medals    0
Winter Games           0
Winter Gold            0
Winter Silver          0
Winter Bronze          0
Total Winter Medals    0
Games Total            0
Gold Total             0
Silver Total           0
Bronze Total           0
Combined Total         0
dtype: int64

Olympics Dataset column types:
Country                object
Summer Games            int64
Summer Gold             int64
Summer Silver           int64
Summer Bronze           int64
Total Summer Medals     int64
Winter Games            int64
Winter Gold             int64
Winter Silver           int64
Winter Bronze           int64
Total Winter Medals     int64
Games Total             int64
Gold Total              int64
Silver Total            int64
Bronze Total            int64
Combined Total          int64
dtype: object

Checking if 'Gold Total' + 'Silver Total' + 'Bronze Total' matches 'Combined Total':
True

# Exercise 7: Imputation to handle missing data
In this exercise we will compare two solutions of data cleaning. The first one consists to drop missing columns values while the second is to fill missing values with interesting ones. In your notebook, open the file melb data.csv.
1. load your data as a dataframe and use a clear name as ”initialData”

In [93]:
import pandas as pd

# Load the dataset
initialData = pd.read_csv('data/melb_data.csv')

2. observe first the quality of the data by using these functions: dataframe.columns, dataframe.info(), and
dataframe.shape.

In [94]:
# Display the column names
print(initialData.columns)

# Display info about data types and non-null counts
print(initialData.info())

# Display the shape (rows, columns) of the DataFrame
print(initialData.shape)

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  float64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(2), object(8)
memory usage: 3.1+ MB
None
(18396, 22)

3. display the total missing values by columns (axis=0)

In [95]:
# Total missing values by columns
missing_by_columns = initialData.isnull().sum()
print(missing_by_columns)

Unnamed: 0           0
Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
CouncilArea       6163
Lattitude         3332
Longtitude        3332
Regionname           1
Propertycount        1
dtype: int64

4. display total missing Values by rows (axis=1)

In [96]:
# Total missing values by rows
missing_by_rows = initialData.isnull().sum(axis=1)
print(missing_by_rows)

0        2
1        0
2        0
3        2
4        0
        ..
18391    2
18392    1
18393    4
18394    1
18395    2
Length: 18396, dtype: int64

5. list the columns with missing values and store them in a variable colsWithMissing. Use the function isnull()
and try to write a simple function you can call it with other datasets with the following signature and core
code as following:
If those columns had relevant information your model loses access to it when the column is dropped. Another drawback to this solution is to miss to do the same droping on the test dataset where an error will
occur.

In [97]:
def missing_columns(originDB):
    # List of columns with missing values
    colsWithMissing = [col for col in originDB.columns if originDB[col].isnull().any()]
    
    # Drop columns with missing values
    reduced_original_data = originDB.drop(colsWithMissing, axis=1)
    
    return colsWithMissing, reduced_original_data

# Call the function on initialData
colsWithMissing, reduced_initialData = missing_columns(initialData)
print("Columns with missing values:", colsWithMissing)

Columns with missing values: ['Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']

6. display the rate of missing values by columns

In [98]:
# Percentage of missing values by columns
missing_rate_columns = (initialData.isnull().sum() / len(initialData)) * 100
print(missing_rate_columns)

Unnamed: 0        0.000000
Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.005436
Postcode          0.005436
Bedroom2         18.857360
Bathroom         18.868232
Car              19.439008
Landsize         26.054577
BuildingArea     57.806045
YearBuilt        51.304631
CouncilArea      33.501848
Lattitude        18.112633
Longtitude       18.112633
Regionname        0.005436
Propertycount     0.005436
dtype: float64

7. do the same on the rows

In [99]:
# Percentage of missing values by rows
missing_rate_rows = (initialData.isnull().sum(axis=1) / initialData.shape[1]) * 100
print(missing_rate_rows)

0         9.090909
1         0.000000
2         0.000000
3         9.090909
4         0.000000
           ...
18391     9.090909
18392     4.545455
18393    18.181818
18394     4.545455
18395     9.090909
Length: 18396, dtype: float64

8. remove rows whom the rate of missing values are > 5% from the origin data and store the result on a new
dataframe variable named new Data.

In [100]:
# Threshold for removing rows with more than 5% missing values
threshold = 0.05 * initialData.shape[1]

# Remove rows with missing value rate > 5%
newData = initialData[initialData.isnull().sum(axis=1) <= threshold]
print("Shape of newData:", newData.shape)

Shape of newData: (8332, 22)

9. call your function missing colums(originDB) on both original data and on new data obtained after removal
rows. How do you explain the columns difference?

In [101]:
# Call on initialData
colsWithMissing_initial, reduced_initialData = missing_columns(initialData)

# Call on newData after removing rows
colsWithMissing_new, reduced_newData = missing_columns(newData)

print("Columns with missing values in initial data:", colsWithMissing_initial)
print("Columns with missing values in new data:", colsWithMissing_new)

Columns with missing values in initial data: ['Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']
Columns with missing values in new data: ['BuildingArea', 'YearBuilt', 'CouncilArea']

10.  fill the missing values with the mean price, so you have to: 1) Display the statistical description of the
column Price using the function describe(), 2) then to calculate the mean value and 3) to fill the missing
value with the mean:

In [102]:
# Statistical description of the 'Price' column
print(newData['Price'].describe())

count    8.332000e+03
mean     1.063969e+06
std      6.668554e+05
min      8.500000e+04
25%      6.200000e+05
50%      8.800000e+05
75%      1.315000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [103]:
# Calculate the mean of the 'Price' column
price_mean = newData['Price'].mean()
print("Mean Price:", price_mean)

Mean Price: 1063969.2016322613

In [104]:
# Fill missing values in 'Price' with the mean value
newData['Price'].fillna(price_mean, inplace=True)

C:\Users\Alex\AppData\Local\Temp\ipykernel_23480\3320696925.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['Price'].fillna(price_mean, inplace=True)